.DS_Store
chapter01/build/includes.cache
chapter01/build/core/abi.cpp.d
chapter01/build/core/abi.cpp.o
chapter01/build/core/CDC.cpp.d
chapter01/build/core/CDC.cpp.o
chapter01/build/core/core.a
chapter01/build/core/HardwareSerial.cpp.d
chapter01/build/core/HardwareSerial.cpp.o
chapter01/build/core/HardwareSerial0.cpp.d
chapter01/build/core/HardwareSerial0.cpp.o
chapter01/build/core/HardwareSerial1.cpp.d
chapter01/build/core/HardwareSerial1.cpp.o
chapter01/build/core/HardwareSerial2.cpp.d
chapter01/build/core/HardwareSerial2.cpp.o
chapter01/build/core/HardwareSerial3.cpp.d
chapter01/build/core/HardwareSerial3.cpp.o
chapter01/build/core/hooks.c.d
chapter01/build/core/hooks.c.o
chapter01/build/core/IPAddress.cpp.d
chapter01/build/core/IPAddress.cpp.o
chapter01/build/core/main.cpp.d
chapter01/build/core/main.cpp.o
chapter01/build/core/new.cpp.d
chapter01/build/core/new.cpp.o
chapter01/build/core/PluggableUSB.cpp.d
chapter01/build/core/PluggableUSB.cpp.o
chapter01/build/core/Print.cpp.d
chapter01/build/core/Print.cpp.o
chapter01/build/core/Stream.cpp.d
chapter01/build/core/Stream.cpp.o
chapter01/build/core/Tone.cpp.d
chapter01/build/core/Tone.cpp.o
chapter01/build/core/USBCore.cpp.d
chapter01/build/core/USBCore.cpp.o
chapter01/build/core/WInterrupts.c.d
chapter01/build/core/WInterrupts.c.o
chapter01/build/core/wiring_analog.c.d
chapter01/build/core/wiring_analog.c.o
chapter01/build/core/wiring_digital.c.d
chapter01/build/core/wiring_digital.c.o
chapter01/build/core/wiring_pulse.c.d
chapter01/build/core/wiring_pulse.c.o
chapter01/build/core/wiring_pulse.S.d
chapter01/build/core/wiring_pulse.S.o
chapter01/build/core/wiring_shift.c.d
chapter01/build/core/wiring_shift.c.o
chapter01/build/core/wiring.c.d
chapter01/build/core/wiring.c.o
chapter01/build/core/WMath.cpp.d
chapter01/build/core/WMath.cpp.o
chapter01/build/core/WString.cpp.d
chapter01/build/core/WString.cpp.o
chapter01/build/preproc/ctags_target_for_gcc_minus_e.cpp
chapter01/build/sketch/app.ino.cpp
chapter01/build/sketch/app.ino.cpp.d
chapter01/build/sketch/app.ino.cpp.o
chapter03/build/includes.cache
chapter03/build/led1.ino.eep
chapter03/build/led1.ino.elf
chapter03/build/led1.ino.hex
chapter03/build/led1.ino.with_bootloader.bin
chapter03/build/led1.ino.with_bootloader.hex
chapter03/build/core/abi.cpp.d
chapter03/build/core/abi.cpp.o
chapter03/build/core/CDC.cpp.d
chapter03/build/core/CDC.cpp.o
chapter03/build/core/core.a
chapter03/build/core/HardwareSerial.cpp.d
chapter03/build/core/HardwareSerial.cpp.o
chapter03/build/core/HardwareSerial0.cpp.d
chapter03/build/core/HardwareSerial0.cpp.o
chapter03/build/core/HardwareSerial1.cpp.d
chapter03/build/core/HardwareSerial1.cpp.o
chapter03/build/core/HardwareSerial2.cpp.d
chapter03/build/core/HardwareSerial2.cpp.o
chapter03/build/core/HardwareSerial3.cpp.d
chapter03/build/core/HardwareSerial3.cpp.o
chapter03/build/core/hooks.c.d
chapter03/build/core/hooks.c.o
chapter03/build/core/IPAddress.cpp.d
chapter03/build/core/IPAddress.cpp.o
chapter03/build/core/main.cpp.d
chapter03/build/core/main.cpp.o
chapter03/build/core/new.cpp.d
chapter03/build/core/new.cpp.o
chapter03/build/core/PluggableUSB.cpp.d
chapter03/build/core/PluggableUSB.cpp.o
chapter03/build/core/Print.cpp.d
chapter03/build/core/Print.cpp.o
chapter03/build/core/Stream.cpp.d
chapter03/build/core/Stream.cpp.o
chapter03/build/core/Tone.cpp.d
chapter03/build/core/Tone.cpp.o
chapter03/build/core/USBCore.cpp.d
chapter03/build/core/USBCore.cpp.o
chapter03/build/core/WInterrupts.c.d
chapter03/build/core/WInterrupts.c.o
chapter03/build/core/wiring_analog.c.d
chapter03/build/core/wiring_analog.c.o
chapter03/build/core/wiring_digital.c.d
chapter03/build/core/wiring_digital.c.o
chapter03/build/core/wiring_pulse.c.d
chapter03/build/core/wiring_pulse.c.o
chapter03/build/core/wiring_pulse.S.d
chapter03/build/core/wiring_pulse.S.o
chapter03/build/core/wiring_shift.c.d
chapter03/build/core/wiring_shift.c.o
chapter03/build/core/wiring.c.d
chapter03/build/core/wiring.c.o
chapter03/build/core/WMath.cpp.d
chapter03/build/core/WMath.cpp.o
chapter03/build/core/WString.cpp.d
chapter03/build/core/WString.cpp.o
chapter03/build/libraries/Led/Led.cpp.d
chapter03/build/libraries/Led/Led.cpp.o
chapter03/build/preproc/ctags_target_for_gcc_minus_e.cpp
chapter03/build/sketch/led1.ino.cpp
chapter03/build/sketch/led1.ino.cpp.d
chapter03/build/sketch/led1.ino.cpp.o
chapter01/.vscode/c_cpp_properties.json
chapter01/build/app.ino.eep
chapter01/build/app.ino.elf
chapter01/build/app.ino.hex
chapter01/build/app.ino.with_bootloader.bin
chapter01/build/app.ino.with_bootloader.hex
chapter01/build/build.options.json
.vscode/c_cpp_properties.json
chapter03/.vscode/c_cpp_properties.json
chapter03/build/build.options.json
chapter03/build/Button.cpp.eep
chapter03/build/Button.cpp.elf
chapter03/build/Button.cpp.hex
chapter03/build/Button.cpp.with_bootloader.bin
chapter03/build/Button.cpp.with_bootloader.hex
chapter03/build/sketch/Button.cpp.cpp.d
chapter03/build/sketch/Button.cpp.cpp.o
chapter03/build/libraries/Button/Button.cpp.o
chapter03/build/libraries/Button/Button.cpp.d
chapter03/build/libraries/MsTimer2/MsTimer2.cpp.d
chapter03/build/libraries/MsTimer2/MsTimer2.cpp.o
chapter03/build/libraries/SimpleTimer/SimpleTimer.cpp.d
chapter03/build/libraries/SimpleTimer/SimpleTimer.cpp.o
chapter03/build/libraries/PWMLed/PWMLed.cpp.d
chapter03/build/libraries/PWMLed/PWMLed.cpp.o
chapter03/build/libraries/Analog/Analog.cpp.d
chapter03/build/libraries/Analog/Analog.cpp.o
chapter04/.vscode/c_cpp_properties.json
chapter04/build/app.ino.eep
chapter04/build/app.ino.elf
chapter04/build/app.ino.hex
chapter04/build/app.ino.with_bootloader.bin
chapter04/build/app.ino.with_bootloader.hex
chapter04/build/build.options.json
chapter04/build/includes.cache
chapter04/build/core/abi.cpp.d
chapter04/build/core/abi.cpp.o
chapter04/build/core/CDC.cpp.d
chapter04/build/core/CDC.cpp.o
chapter04/build/core/core.a
chapter04/build/core/HardwareSerial.cpp.d
chapter04/build/core/HardwareSerial.cpp.o
chapter04/build/core/HardwareSerial0.cpp.d
chapter04/build/core/HardwareSerial0.cpp.o
chapter04/build/core/HardwareSerial1.cpp.d
chapter04/build/core/HardwareSerial1.cpp.o
chapter04/build/core/HardwareSerial2.cpp.d
chapter04/build/core/HardwareSerial2.cpp.o
chapter04/build/core/HardwareSerial3.cpp.d
chapter04/build/core/HardwareSerial3.cpp.o
chapter04/build/core/hooks.c.d
chapter04/build/core/hooks.c.o
chapter04/build/core/IPAddress.cpp.d
chapter04/build/core/IPAddress.cpp.o
chapter04/build/core/main.cpp.d
chapter04/build/core/main.cpp.o
chapter04/build/core/new.cpp.d
chapter04/build/core/new.cpp.o
chapter04/build/core/PluggableUSB.cpp.d
chapter04/build/core/PluggableUSB.cpp.o
chapter04/build/core/Print.cpp.d
chapter04/build/core/Print.cpp.o
chapter04/build/core/Stream.cpp.d
chapter04/build/core/Stream.cpp.o
chapter04/build/core/Tone.cpp.d
chapter04/build/core/Tone.cpp.o
chapter04/build/core/USBCore.cpp.d
chapter04/build/core/USBCore.cpp.o
chapter04/build/core/WInterrupts.c.d
chapter04/build/core/WInterrupts.c.o
chapter04/build/core/wiring_analog.c.d
chapter04/build/core/wiring_analog.c.o
chapter04/build/core/wiring_digital.c.d
chapter04/build/core/wiring_digital.c.o
chapter04/build/core/wiring_pulse.c.d
chapter04/build/core/wiring_pulse.c.o
chapter04/build/core/wiring_pulse.S.d
chapter04/build/core/wiring_pulse.S.o
chapter04/build/core/wiring_shift.c.d
chapter04/build/core/wiring_shift.c.o
chapter04/build/core/wiring.c.d
chapter04/build/core/wiring.c.o
chapter04/build/core/WMath.cpp.d
chapter04/build/core/WMath.cpp.o
chapter04/build/core/WString.cpp.d
chapter04/build/core/WString.cpp.o
chapter04/build/libraries/Button/Button.cpp.d
chapter04/build/libraries/Button/Button.cpp.o
chapter04/build/libraries/ColorLed/ColorLed.cpp.d
chapter04/build/libraries/ColorLed/ColorLed.cpp.o
chapter04/build/libraries/Led/Led.cpp.d
chapter04/build/libraries/Led/Led.cpp.o
chapter04/build/libraries/PWMLed/PWMLed.cpp.d
chapter04/build/libraries/PWMLed/PWMLed.cpp.o
chapter04/build/libraries/SimpleTimer/SimpleTimer.cpp.d
chapter04/build/libraries/SimpleTimer/SimpleTimer.cpp.o
chapter04/.vscode/arduino.json
chapter04/build/preproc/ctags_target_for_gcc_minus_e.cpp
chapter04/build/sketch/app.ino.cpp
chapter04/build/sketch/app.ino.cpp.d
chapter04/build/sketch/app.ino.cpp.o
chapter04/build/libraries/Wire/Wire.cpp.d
chapter04/build/libraries/Wire/Wire.cpp.o
chapter04/build/libraries/Wire/utility/twi.c.d
chapter04/build/libraries/Wire/utility/twi.c.o
chapter04/build/libraries/Wire/Wire.cpp.d
chapter04/build/libraries/Analog/Analog.cpp.d
chapter04/build/libraries/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.o
chapter04/build/libraries/Analog/Analog.cpp.o
chapter04/build/libraries/LiquidCrystal_I2C/LiquidCrystal_I2C.cpp.d
