.DS_Store
chapter01/build/includes.cache
chapter01/build/preproc/ctags_target_for_gcc_minus_e.cpp
chapter01/build/sketch/app.ino.cpp
chapter03/build/includes.cache
chapter03/build/preproc/ctags_target_for_gcc_minus_e.cpp
chapter03/build/sketch/led1.ino.cpp
chapter01/.vscode/c_cpp_properties.json
chapter01/build/build.options.json
.vscode/c_cpp_properties.json
chapter03/.vscode/c_cpp_properties.json
chapter03/build/build.options.json
chapter04/.vscode/c_cpp_properties.json
chapter04/build/build.options.json
chapter04/.vscode/arduino.json
chapter04/build/preproc/ctags_target_for_gcc_minus_e.cpp
chapter04/build/sketch/app.ino.cpp
*.d
*.o
*.a
*.bin
*.hex
*.elf
*.eep
*.hex
*.cache
chapter05/build/sketch/app.ino.cpp
chapter05/build/preproc/ctags_target_for_gcc_minus_e.cpp
chapter05/build/build.options.json
chapter05/.vscode/c_cpp_properties.json
chapter06/.vscode/c_cpp_properties.json
chapter06/build/preproc/ctags_target_for_gcc_minus_e.cpp
chapter06/build/build.options.json
chapter06/build/sketch/app.ino.cpp
NODEMCU/.vscode/c_cpp_properties.json
NODEMCU/build/app.ino.map
NODEMCU/build/build.options.json
NODEMCU/build/local.eagle.app.v6.common.ld
NODEMCU/build/local.eagle.flash.ld
NODEMCU/build/core/Updater_Signing.h
NODEMCU/build/ld_h/local.eagle.flash.ld.h
NODEMCU/build/preproc/ctags_target_for_gcc_minus_e.cpp
NODEMCU/build/sketch/app.ino.cpp
*.pyc
